.carousel-item img{
  height: 90vh;
}
.caption-class{
    background: rgba(0, 0, 0, 0.363);
}
.shop{
    background: rgb(224, 237, 246);
}
#contact{
    background: rgba(168, 238, 199, 0.406);
}
.fontawesome{
    width: 40px;
    display: inline-block;
}
a{
    text-decoration: none;
}